pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist
.idea

rigs/*
rigs_dev/*
.env.rig
!rigs/.gitkeep
!rigs_dev/.gitkeepnode_modules
.temp
.cache
